<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>

    <meta charset="UTF-8" th:remove="tag">
</head>

<body>

<div layout:fragment="content">
<h1>今後の新しいホーム画面にする予定</h1>
<a th:href=@{/login}>ログイン</a>
    <p></p>
<a th:href=@{/manager/home}>Admin用ユーザー一覧ページ</a>
    <p></p>
    <a th:href=@{/manager/teamlist}>Admin用チーム一覧ページ</a>
    <p></p>
<a th:href=@{/member/report-search}>User用ページ</a>
    <p></p>
<a th:href=@{/member/user-main}>User用メインページ</a>

</div>
</body>
</html>