<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8" th:remove="tag">
</head>
<body>
<div layout:fragment="content">

    <div class="logo-home">
        <img th:src="@{/img/yoko-b.jpg}" class="logo-main">
    </div>

    <div class="home-name">
    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <h1 class="text-center" th:text="${#authentication.principal.fullName}"></h1>
        <h3 class="text-center">Admin</h3>
    </div>
    <div th:unless="${#authorization.expression('hasRole(''ADMIN'')')}">
        <h1 class="text-center" th:text="${#authentication.principal.fullName}"></h1>
        <h3 class="text-center">User</h3>
    </div>
    </div>

</div>
<style layout:fragment="style">
    html, body{
        background-color: #2B2B2B;
    }

    h1, h3 {
        color:white;
    }
</style>
<script layout:fragment="script"></script>
</body>
</html>

