<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8" th:remove="tag">
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-3">
    <h1 class="text-center">メンバー編集</h1>
    <h1 th:text="${team.name}" class="text-center"></h1>
    <div class="container-form">
        <form th:action="@{/manager/assignment/create}" th:object="${assignmentCreateInput}" method="post">
            <input type="hidden" name="teamId" th:value="${team.teamId}"/>
            <label>Manager</label>
            <div class="form-group mb-3 d-flex">
                <select id="managerList" class="form-select" name="employeeCode" multiple>
                    <option th:each="manager : ${managers}" th:text="${manager.name}" th:value="${manager.employeeCode}"></option>
                </select>
                <div>
                    <button onclick="addManager()" class="btn btn-success">←追加</button>
<!--                    <input id="removeManager" class="btn btn-success" type="button" value="→ 削除">-->
                </div>
                <select id="userList" class="form-select" name="employeeCode" multiple>
                    <option th:each="user : ${users}" th:text="${user.name}" th:value="${user.employeeCode}"></option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label>役割</label>
                <select name="isManager" class="form-select">
                    <option value="false">Member</option>
                    <option value="true">Manager</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <button type="submit" class="w-100 btn btn-lg btn-success">追加</button>
            </div>
        </form>
    </div>
        <div class="button-box">
    <a th:href=@{/manager/teamlist}>チーム一覧ページに戻る</a>
        </div>
    </div>
</div>
<script>
    function addManager() {
        var userSelect = document.getElementById("userList");
        var userText = userSelect.options[userSelect.selectedIndex].text;
        var userValue = userSelect.options[userSelect.selectedIndex].value;

        var managerAdd = document.createElement("option");
        managerAdd.text = userText;
        managerAdd.value = userValue;

        var managerList = document.getElementById("managerList");
        managerList.add(managerAdd);
    }
</script>
</body>
</html>