<div th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" style = "font-size:1.1em;" href="/">業務報告書提出</a>
            <div class="navbar-text ms-auto">
                <span class="text-light"  style = "font-size:1.1em;" th:text="${#authentication.principal.fullName + 'さん'}"></span>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" style = "font-size:1em;" href="/member/report-search"><i class="fas fa-search"></i>業務報告書検索</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}" style = "font-size:1em;" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                            <i class="fas fa-user"></i>ログアウト
                        </a>
                        <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
