<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>業務報告書作成</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <style>
        .btn-danger {
            /*width: 20%;*/
            white-space: nowrap;
            float: left;
        }
        @media (max-width: 768px) {
            .overflow-x-hidden {
                overflow-x: hidden !important;
            }
            .d-flex {
                display: block !important;
            }

            #startTime_mb, #endTime_mb, #date_mb, #radio-check_mb {
                display: flex !important;
            }

            .row .d-flex {
                margin-top: 5px;
                margin-bottom: 5px;
            }
            #form-select_mb{
                width : 100%;
            }

            .d-flex input[type="text"] {
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .d-flex input[type="number"] {
                margin-bottom: 5px;
                width : 50%;
            }
            .navbar {
                display: flex;
            }
        }

        @media (min-width: 769px) {
            #form-select_mb{
                width : 300px;
            }
        }
    </style>

</head>
<body>
<div th:replace="member/navbar :: navbar"></div>
<div class="container p-3">
    <div class="card">
        <div class="card-body">
            <form class="row g-3 p-3" th:action="@{/member/report/create}" th:object="${ReportCreateInput}"
                  method="post">
                <div th:if="${error != null}" class="text-center mb-4">
                    <h3 style="color: red;" th:text="${error}"></h3>
                </div>
                <div id= "date_mb" class="col-md-12 d-flex flex-row align-items-center gap-3">
                    <p class="text-center">日付</p>
                    <div class="cs-form">
                        <input type="date" class="form-control" name="date" th:value="${reportCreateInput.date}"
                               required/>
                    </div>
                </div>


                <div id= "startTime_mb" class="col-md-12 d-flex flex-row align-items-center gap-3">
                    <p class="text-center">出勤時間</p>
                    <div class="cs-form">
                        <input type="time" class="form-control" name="startTime"
                               th:value="${reportCreateInput.startTime}" required/>
                    </div>
                </div>
                <div id= "endTime_mb" class="col-md-12 d-flex flex-row align-items-center gap-3" >
                    <p class="text-center">退勤時間</p>
                    <div class="cs-form">
                        <input type="time" class="form-control" name="endTime" th:value="${reportCreateInput.endTime}"
                               required/>
                    </div>
                </div>
                <div class="col-md-12 d-flex flex-row gap-5">
                    <label>※遅刻・早退の場合はチェックマーク</label>
                </div>
                <div id = "radio-check_mb" class="col-md-12 d-flex flex-row gap-5">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="check_Lateness"
                               name="isLateness" th:checked="${reportCreateInput.isLateness}"/>
                        <label class="form-check-label" for="check_Lateness">遅刻</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="check_LeftEarly"
                               name="isLeftEarly" th:checked="${reportCreateInput.isLeftEarly}"/>
                        <label class="form-check-label" for="check_LeftEarly">早退</label>
                    </div>
                </div>
                <div class="col-12 d-flex flex-row align-items-center gap-3">
                    <label class="text-nowrap">※遅刻の場合は理由を記入</label>
                    <label for="text_latenessReason"></label>
                    <textarea name="latenessReason" class="form-control" id="text_latenessReason" rows="3"></textarea>
                </div>
                <div class="col-md-12 d-flex flex-row gap-3">
                    <label class="text-nowrap">本日の体調</label>
                    <select id = "form-select_mb" class="form-select" name="condition" aria-label="example"  required>
                        <option selected th:value="${''}">選択</option>
                        <option th:value="${'良好'}">良好</option>
                        <option th:value="${'普通'}">普通</option>
                        <option th:value="${'不調'}">不調</option>
                    </select>
                </div>
                <div class="col-12 d-flex flex-row align-items-center gap-3">
                    <label class="text-nowrap">1日の感想</label>
                    <label for="text_impressions"></label><textarea name="impressions" class="form-control"
                                                                    id="text_impressions"
                                                                    rows="3" required></textarea>
                </div>
                <div class="col-12 d-flex flex-row align-items-center gap-3">
                    <label class="text-nowrap">明日の予定</label>
                    <label for="text_tomorrowSchedule"></label><textarea class="form-control"
                                                                         name="tomorrowSchedule"
                                                                         id="text_tomorrowSchedule"
                                                                         rows="3" required></textarea>
                </div>
                <div class="col-12 d-flex flex-column gap-2" id="todo-field">
                    <div class="d-flex gap-2">
                        <p class="d-inline d-inline-block p-0 m-0">Todo（メモ帳)</p>
                        <button type="button" class="btn btn-secondary" id="add-todo">追加</button>
                    </div>
                    <!-- タスクの入力フィールド -->
                    <div th:each="taskLog, taskLogStatus : ${reportCreateInput.taskLogs}" class="row">
                        <div class="flex-row d-flex gap-3 col-md-8">
                            <input type="text" class="form-control" placeholder="タスク名" aria-label=""
                                   th:name="${'taskLogs[' + taskLogStatus.index + '].name'}"
                                   th:value="${taskLog.name}" required>
                            <input type="number" class="form-control" placeholder="進捗率" aria-label=""
                                   th:name="${'taskLogs[' + taskLogStatus.index + '].progressRate'}"
                                   th:value="${taskLog.progressRate}" min="0" max="100" required>
                            <button type="button" class="btn btn-danger" onclick="removeTask(this)">削除</button>
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">申請する</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<script th:inline="javascript">
    const elem = document.getElementById("add-todo");
    const todoField = document.getElementById("todo-field");
    let taskIndex = /*[[${reportCreateInput.taskLogs.size()}]]*/;

    elem.onclick = function() {
        const node = document.createElement("div");
        node.setAttribute("class", "row");
        node.innerHTML += `<div class="flex-row d-flex gap-3 col-md-8">
                                <input type="text" class="form-control" placeholder="タスク名" aria-label=""
                                       name="${'taskLogs[' + taskIndex + '].name'}" required>
                                <input type="number" class="form-control" placeholder="進捗率" aria-label=""
                                       name="${'taskLogs[' + taskIndex + '].progressRate'}" min="0" max="100" required>
                                <button type="button" class="btn btn-danger" onclick="removeTask(this)">削除</button>
                            </div>`;

        todoField.appendChild(node);
        taskIndex++;
    };

    function removeTask(button) {
        button.parentNode.parentNode.remove();
    }
    /*]]>*/
    function checkInput() {
        var check_Lateness = document.getElementById("check_Lateness");
        var text_latenessReason = document.getElementById("text_latenessReason");
        if (check_Lateness.checked) {
            if (text_latenessReason.value.trim() === "") {
                text_latenessReason.setCustomValidity("遅刻理由を記入してください");
            }
            else {
                text_latenessReason.setCustomValidity("");
            }
        }
    }

    // 遅刻のcheckbokにvalidationをチェックします。
    document.addEventListener('DOMContentLoaded', function() {
        var isLateness = document.getElementById('check_Lateness');
        var text_latenessReason = document.getElementById('text_latenessReason');

        isLateness.addEventListener('change', function() {
            if (this.checked) {
                validateInput();
            } else {
                text_latenessReason.setCustomValidity("");
            }
        });
        text_latenessReason.addEventListener('input', function() {
            if (isLateness.checked) {
                validateInput();
            }
        });
        function validateInput() {
            if (text_latenessReason.value.trim() === '') {
                text_latenessReason.setCustomValidity("遅刻理由を記入してください");
            } else {
                text_latenessReason.setCustomValidity("");
            }
        }
    });

</script>
</html>