<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8" th:remove="tag">
</head>
<body>
<div layout:fragment="content">
    <div th:if="${error}">
        <div class="flash flash-danger alert alert-dismissible fade show" role="alert">
            <span th:text="${error}"></span>
            <a data-bs-dismiss="alert" aria-label="Close">
                <i class="fas fa-times"></i>
            </a>
        </div>
    </div>

    <div class="container mt-4">
        <form th:action="@{/member/taskHandoverCreate}" th:object="${taskHandoverInput}" method="post">
            <select name="employeeCode" class="form-select">
                <option th:each="member : ${members}" th:value="${member.employeeCode}"
                        th:text="${member.name}"></option>
            </select>
            <!--            <input type="hidden" name="teamId" th:value="${teamId}">-->
            <!--            <input type="hidden" name="sorting" th:value="${taskLog.sorting}">-->

            <div th:each="taskLog : ${reportCreateInput.taskLogs}">
                <input type="hidden" th:name="${'taskLogs[' + taskLogStat.index + '].taskId'}"
                       th:value="${taskLog.taskId}">
                <input type="hidden" th:name="${'taskLogs[' + taskLogStat.index + '].reportId'}"
                       th:value="${taskLog.reportId}">
                <input type="hidden" th:name="${'taskLogs[' + taskLogStat.index + '].sorting'}"
                       th:value="${taskLog.sorting}">
            </div>
            <input type="hidden" name="employeeCodePartner" th:value="${employeeCode}">



            <button type="submit">
                このメンバーにタスクを移行する
            </button>
        </form>
    </div>
</div>
<style layout:fragment="style"></style>
<script layout:fragment="script"></script>
</body>
</html>
<script>
    function goBack() {
        // 前のページに戻る
        window.history.back();
    }


    function check() {
        if (window.confirm('このチームを削除しますか？')) {
            return true;
        } else {
            return false;
        }
    }

</script>