<!DOCTYPE html>
<!--↓ナビバー表示-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"-->
<!--      layout:decorate="~{layout/layout}">-->

<head xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

    <meta charset="UTF-8" th:remove="tag">
</head>
<style>
    h1 {
    background-color: #5D99FF;
    color: white; /* オプション：テキストの色を白に設定 */
    padding: 10px; /* オプション：テキストと周囲の余白を設定 */
}
    .center-text {
  text-align: center;
}
/*以下枠線設定*/
    .textBox {
border: 2px solid #333;
border-radius: 5px;
padding: 30px;
position: relative;
}

.textBox::before {
background-color: #fff;
color: #333;
content: "個人情報";
font-weight: bold;
left: 30px;
padding: 3px 10px;
position: absolute;
top: -15px;
}

</style>
<body>
<div layout:fragment="content">
    <h1>個別詳細設定</h1>
    <div class="textBox">
        <a th:href="@{/member/userDetailsList/userEdit}"><img src="/img/ユーザー情報アイコン.png" alt="ユーザー情報"/></a>
    <p>ユーザー情報変更</p>


<!--            <a th:href="@{/member/userDetailsList/userEdit}"><img src="/img/就業アイコン.png" alt="ユーザー情報"/></a>-->
<!--            <p>就業時間変更</p>-->
<!--    </div>-->


</div>
</body>

</html>