<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Menu Interface</title>
<style>
    body {
      font-family: Arial, sans-serif;
    }
    .header {
      background-color: #00BFFF; /* Light blue */
      padding: 10px;
      text-align: center;
      color: white;
    }
    .menu {
      display: flex;
      justify-content: space-around;
      padding: 20px;
      background-color: #f2f2f2; /* Light grey */
    }
    .menu-item {
      text-align: center;
    }
    .menu-icon {
      width: 50px; /* Fixed width, can be adjusted */
      height: 50px; /* Fixed height, can be adjusted */
    }
    .menu-label {
      display: block;
      margin-top: 5px;
    }
    .search-box {
      display: block;
      width: 100%;
      padding: 10px;
      margin: 20px 0;
      border: 1px solid #ddd
  <head>
      <meta charset="UTF-8">
      <title>Title</title>
  </head>
  <body>

  </body>
  </html>